*{
    box-sizing: border-box;
}


/* Search Bar */

#search {
    height: 50px;
    min-width: 40vw;
    padding-left: 15px;
    border: 2px solid rgb(108, 107, 107);
    border-radius: 3px;
    font-size: 18px;
}

form {
    padding-left: 10px;
    margin: 2rem auto;
    max-width: 500px;
      
}


/* Gallery */

.gallery{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 200px);
    grid-gap: 35px 20px;
    margin: 3em auto;
}


/* Misc */

body {
    margin: 0;
    padding: 0;    
  }
  
  img {    
    margin: 0 10px;
  }