.gallery{
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    row-gap: 25px;


    justify-items: center;
}


header{
    display: flex;
    justify-content: center;
    padding: 25px;
}

#srch{
    display: flex;
    align-self: center;
    padding: 20px 50px;
}