#gallery{
    display: grid;

    grid-template-columns: repeat(4, 1fr);;
    column-gap: 10px;
    row-gap: 15px;

    justify-items: center;
}

header{
    display: flex;
    justify-content: center;
    padding: 25px;
}

#srch{
    display: flex;
    align-self: center;
}